{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">View Reviews</h2>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h5 class="text-center">{{shoe.name}}</h5>
            <div class="d-flex justify-content-center">
                <img src="../../media/{{ shoe.image }}" class="img-fluid w-75" alt="{{ shoe.name }}">
            </div>
            <ul class="list-group list-group-flush mb-3 text-center">
                <li class="list-group-item">&euro; {{ shoe.price }}</li>
                <li class="list-group-item">{{ shoe.brand|title }}</li>
                <li class="list-group-item">{{ shoe.category|title }}</li>
            </ul>
            <div class="d-flex justify-content-center my-2">
                <a class="btn btn-primary" href="{% url 'write_review' shoe.id %}" role="button">Write New Review</a>
            </div>
        </div>
        <div class="col-12 col-md-8 reviews">
            {% if reviews %}
            {% for review in reviews %}
            <div class="card mb-2">
                <div class="card-header">
                    <div class="row mb-1">
                        <div class="col-12 d-flex">
                            <div class="review-rating">
                                <div class="d-flex jusifty-content-center align-items-center pt-1">
                                    {% for star in 5|range %}
                                    {% if star <= review.rating %}
                                    <i class="fas fa-star"></i>
                                    {% else %}
                                    <i class="far fa-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% if user == review.user %}
                            <div class="ms-auto">
                                <a class="btn btn-outline-success" href="{% url 'edit_review' review.id %}">Edit</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                    Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Please Confirm</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this review? This action is
                                                irreversible..
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Go Back</button>
                                                <a class="btn btn-outline-danger"
                                                    href="{% url 'delete_review' review.id %}">Confirm
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="user-details">
                                <strong>Author:</strong>
                                {{ review.user }}
                            </div>
                            <div class="ms-2 review-date">
                                <strong>Date:</strong>
                                {{ review.date|date:"d/m/Y" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ review.details }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No reviews to show</p>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}