{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">Shopping Cart</h2>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if cart_items %}
        <div class="table-responsive">
            <table class="table table-striped align-middle text-sm-small">
                <thead class="table-light">
                    <tr>
                        <th class="cart-table-header" scope="col">#</th>
                        <th class="cart-table-header" scope="col">Item</th>
                        <th class="cart-table-header" scope="col">Size</th>
                        <th class="cart-table-header" scope="col">Qty</th>
                        <th class="cart-table-header" scope="col">Price</th>
                        <th class="cart-table-header" scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="shoe-image-preview" src="{{ MEDIA_URL }}/{{ item.shoe.image }}"
                                    alt="{{ shoe.name }}">
                                <div class="d-flex flex-column">
                                    <h3 class="mb-0 ms-2 text-sm-small">{{ item.shoe.name }}</h3>
                                </div>
                            </div>
                        </td>
                        <td>UK <strong>{{ item.size }}</strong></td>
                        <td>
                            <select data-shoe-size="{{ item.size }}" data-shoe-id="{{ item.shoe_id }}"
                                style="width:5rem;" class="form-select item-qty" aria-label="Default select example">
                                <option value="0" {% if item.qty == 0%}selected{% endif %}>0</option>
                                {% for i in 5|range %}
                                <option value="{{i}}" {% if i == item.qty %}selected{% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>&euro;{{ item.shoe.price }}</td>
                        <td>&euro;{{ item.item_price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="text-end">
                            <p>Sub Total: &euro; XX.XX</p>
                            <p>Delivery Cost: &euro; XX.XX</p>
                            <h4>Grand Total: &euro;{{ grand_total }}</h4>
                            <a class="btn btn-primary" href="#" role="button"><strong>Checkout Securely <i
                                        class="fas fa-lock"></i></strong></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center">Your bag is empty</p>
        <div class="d-flex justify-content-center mb-2">
            <a class="btn btn-primary" href="{% url 'shoes' %}" role="button">Continue Shopping <i
                    class="fas fa-shopping-basket"></i></a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postload_js %}
<script type='text/javascript'>
    // qty increments/decrements handler
    $('.item-qty').on("change", function () {

        // extract the new options chosen by the user
        let shoeId = $(this).data('shoe-id');
        let shoeSize = $(this).data('shoe-size');

        // determine if removing or updating
        let newQty = $(this).val();
        let url;
        if (newQty <= 0) {
            url = `/cart/remove/${shoeId}/`;
        } else {
            url = `/cart/update/${shoeId}/`;
        }

        // prepare data needed for post request
        let csrfToken = "{{ csrf_token }}";
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'qty': newQty,
            'size': shoeSize
        };

        // post data to the server
        $.post(url, data).done(function () {
            location.reload();
        })

    })
</script>
{% endblock %}