{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'banners/css/banners.css'%}">
{% endblock %}

{% block content %}
{% if banner %}
<div class="container-fluid text-center fs-3" id="homepage-sales-banner-container">
    {{ banner.full_banner_message }}
</div>
{% endif %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-4 d-flex justify-content-center align-items-center home-image-md">
            <div class="p-4 d-flex flex-column align-items-center rounded-3 bg-light">
                <div class="d-flex flex-column align-items-center">
                    <img class="me-1" style="width:5rem;" src="{{ MEDIA_URL }}/shoop-logo-bgtransp.png"
                        alt="shoop-website-logo">
                    <h1 id="shoop-title" class="m-0">Shoop</h1>
                </div>
                <p>Designer shoes straight to your doorstep</p>
                <a class="btn btn-primary" href="{% url 'shoes' %}">Browse our collections now...</a>
            </div>
        </div>
        <div class="d-none d-lg-flex col-lg-8 home-image-lg">
        </div>
    </div>
</div>
{% endblock %}


{% block postload_js %}
{{ block.super }}
{{ banner|json_script:"homepage-sales-banner-context"}}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}