{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">Order Confirmation</h2>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="text-center">
            Hello {{ customer.name }}, your order was <span class="badge rounded-pill bg-success">satisfied!</span>
            <br>
            Your fulfilled order number is: <strong>{{ order.order_number }}</strong>
        </p>
        <p class="text-center">
            Your order details:
        </p>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h5>Item(s) Summary:</h5>
                <div class="table-responsive">
                    <table class="table table-striped align-middle text-sm-small">
                        <thead class="table-light">
                            <tr>
                                <th class="cart-table-header" scope="col">#</th>
                                <th class="cart-table-header" scope="col">Item</th>
                                <th class="cart-table-header" scope="col">Size</th>
                                <th class="cart-table-header" scope="col">Qty</th>
                                <th class="cart-table-header" scope="col">Price</th>
                                <th class="cart-table-header" scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in line_items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="shoe-image-preview" src="{{ MEDIA_URL }}/{{ item.shoe.image }}"
                                            alt="{{ shoe.name }}">
                                        <div class="d-flex flex-column">
                                            <h3 class="mb-0 ms-2 text-sm-small">{{ item.shoe.name }}</h3>
                                        </div>
                                    </div>
                                </td>
                                <td>UK <strong>{{ item.size }}</strong></td>
                                <td>
                                    <select data-shoe-size="{{ item.size }}" data-shoe-id="{{ item.shoe_id }}"
                                        style="width:5rem;" class="form-select item-qty"
                                        aria-label="Default select example">
                                        <option value="0" {% if item.qty == 0%}selected{% endif %}>0</option>
                                        {% for i in 5|range %}
                                        <option value="{{i}}" {% if i == item.qty %}selected{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>&euro;{{ item.shoe.price }}</td>
                                <td>&euro;{{ item.item_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h5>Shipping Details:</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}