{% extends 'base.html' %}
{% load static %}
{% load item_total %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">Order Confirmation</h2>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="text-center">
            Hello {{ customer.name }}, your order was <span class="badge rounded-pill bg-success">satisfied!</span>
            <br>
            Your fulfilled order number is: <strong>{{ order.order_number }}</strong>
        </p>
        <p class="text-center">
            Your order details:
        </p>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h5>Item(s) Summary:</h5>
                <div class="table-responsive">
                    <table class="table table-striped align-middle text-sm-small">
                        <thead class="table-light">
                            <tr>
                                <th class="cart-table-header" scope="col">#</th>
                                <th class="cart-table-header" scope="col">Item</th>
                                <th class="cart-table-header" scope="col">Size</th>
                                <th class="cart-table-header" scope="col">Qty</th>
                                <th class="cart-table-header" scope="col">Price</th>
                                <th class="cart-table-header" scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in line_items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="shoe-image-preview" src="{{ MEDIA_URL }}/{{ item.shoe.image }}"
                                            alt="{{ shoe.name }}">
                                        <div class="d-flex flex-column">
                                            <h3 class="mb-0 ms-2 text-sm-small">{{ item.shoe.name }}</h3>
                                        </div>
                                    </div>
                                </td>
                                <td>UK <strong>{{ item.size }}</strong></td>
                                <td>
                                    {{ item.qty }}
                                </td>
                                <td>&euro;{{ item.shoe.price }}</td>
                                <td>&euro;{{ item.shoe.price | item_total:item.qty }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="text-end">
                                    <p>Sub Total: &euro; XX.XX</p>
                                    <p>Delivery Cost: &euro; XX.XX</p>
                                    <h4>Grand Total: &euro;{{ grand_total }}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h5>Shipping Details:</h5>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Name:</strong> {{ order.full_name }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ order.email }}</li>
                    <li class="list-group-item"><strong>Phone:</strong> {{ order.phone_number }}</li>
                    <li class="list-group-item"><strong>Address Line 1:</strong> {{ order.street1 }}</li>
                    <li class="list-group-item"><strong>Address Line 2:</strong> {{ order.street2 }}</li>
                    <li class="list-group-item"><strong>Town/City:</strong> {{ order.town_or_city }}</li>
                    <li class="list-group-item"><strong>State:</strong> {{ order.county }}</li>
                    <li class="list-group-item"><strong>Postcode:</strong> {{ order.postcode }}</li>
                    <li class="list-group-item"><strong>Country:</strong> {{ order.country }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}