/* fonts */


/* base */
html {
    height: 100%;
}

body {
    height: 100vh;
}


/* home */
.home-image-md {
    background-image: url('/media/homepage.jpg');
    background-size: cover;
}


/* browse */
.btn-shoe-detail {
    padding: .25rem .5rem .25rem .5rem;
}

.box-ratings {
    height: 1.5rem;
}

.refine-search {
    background-color: #f7f7f7;
    border-radius: .25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* detail */
.rounded-element {
    border: 1px solid grey;
    border-radius: .25rem;
}

/* utility classes */
.black-outline {
    border: 1px solid black;
}

.header-sm-small {
    font-size: .9rem;
}

.text-sm-small {
    font-size: .7rem;
}

@media screen and (min-width: 576px) {
    .header-sm-small {
        font-size: 1rem;
    }

    .text-sm-small {
        font-size: 1rem;
    }

}

@media screen and (min-width: 992px) {
    .home-image-md {
        background-image: none;
    }

    .home-image-lg {
        background-image: url('/media/homepage.jpg');
        background-size: cover;
    }

    .refine-search {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}