{% for t in test%}
{{t.name}}={{t.avg_rating}}
{% endfor %}

<div class="row">
    <div class="col-12">
        <div class="form-refine-search">
            <div class="d-flex justify-content-around">
                <div class="d-flex flex-column">
                    <strong class="me-md-2">Filter By:</strong>
                    <div class="d-flex flex-column flex-md-row">
                        <div>
                            <!-- Filter by Category -->
                            <select id="filt-category" class="form-select form-select-sm"
                                aria-label=".form-select-sm example">
                                <option value="category_filt_all" selected>Category</option>
                                {% for category in categories %}
                                <option value="category_filt_{{ category.name }}">{{ category.friendly_name }}</option>
                                {% endfor%}
                                <option value="category_filt_all">All</option>
                            </select>
                        </div>
                        <div>
                            <!-- Filter by Brand -->
                            <select id="filt-brand" class="form-select form-select-sm"
                                aria-label=".form-select-sm example">
                                <option value="brand_filt_all" selected>Brand</option>
                                {% for brand in brands %}
                                <option value="brand_filt_{{ brand.name }}">{{ brand.friendly_name }}</option>
                                {% endfor%}
                                <option value="brand_filt_all">All</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <strong class="me-md-2">Sort By:</strong>
                    <div class="d-flex flex-column flex-md-row">
                        <div>
                            <!-- Sort by Price -->
                            <select id="sort-price" class="form-select form-select-sm"
                                aria-label=".form-select-sm example">
                                <option value="price_sort_reset" selected>Price</option>
                                <option value="price_sort_asc">Low to High</option>
                                <option value="price_sort_desc">High to Low</option>
                            </select>
                        </div>
                        <div>
                            <!-- Sort by Rating -->
                            <select id="sort-rating" class="form-select form-select-sm"
                                aria-label=".form-select-sm example">
                                <option value="rating_sort_reset" selected>Rating</option>
                                <option value="rating_sort_asc">Low to High</option>
                                <option value="rating_sort_desc">High to Low</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button id="refine-search-btn" type="button" class="btn btn-secondary">Apply</button>
            </div>
        </div>
    </div>
</div>