{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <!-- grid of shoe products: 2xw phone, 3xw tablet, 4xw desktop -->
    <div class="row my-4">
        {% for shoe in shoes %}
        <div class="col-6 col-md-4 col-lg-3 py-1">
            <div class="d-flex justify-content-center">
                <div class="card my-1 rounded-0">
                    <img class="card-img-top rounded-0" src="../media/{{ shoe.image }}" alt="{{ shoe.name }}">
                    <div class="card-body p-1">
                        <h5 class="card-title header-sm-small">{{ shoe.name }}</h5>
                        <p class="card-text text-sm-small mb-1">
                            <span class="fw-bold">Brand: </span>{{ shoe.brand.name|title }}
                            <span class="fw-bold">Category: </span>{{ shoe.category.friendly_name|title }}
                            <br>
                            <span class="fw-bold">Rating: </span> Insert Ratings Here
                            <br>
                            <span class="fw-bold">Price: </span>&euro;{{ shoe.price }}
                        </p>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'shoe_detail' shoe.id %}"
                                class="btn btn-primary btn-shoe-detail text-sm-small me-1">View</a>
                            <a href="#" class="btn btn-primary btn-shoe-detail text-sm-small ms-1">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}