{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">{{ header }}</h2>
    <hr>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <!-- grid of shoe products: 2xw phone, 3xw tablet, 4xw desktop -->
    <div class="row my-4">
        {% if shoes%}
        {% for shoe in shoes %}
        <div class="col-6 col-md-4 col-lg-3 py-1">
            <div class="d-flex justify-content-center">
                <div class="card my-1 rounded-0">
                    <img class="card-img-top rounded-0" src="../media/{{ shoe.image }}" alt="{{ shoe.name }}">
                    <div class="card-body p-1">
                        <h5 class="text-center card-title header-sm-small">{{ shoe.name }}</h5>
                        <ul class="list-group list-group-flush text-sm-small">
                            <li class="list-group-item py-1"> <strong>Price:</strong> &euro; {{ shoe.price }}</li>
                            <li class="list-group-item py-1"> <strong>Brand:</strong> {{ shoe.brand|title }}</li>
                            <li class="list-group-item py-1"> <strong>Category:</strong> {{ shoe.category|title }}</li>
                            <li class="text-center list-group-item py-1"> <strong>Rating</strong><br>
                                <div class="d-flex justify-content-center my-1">
                                    {% for star in 5|range %}
                                    {% if star <= shoe.avg_rating %}
                                    <i class="fas fa-star"></i>
                                    {% else %}
                                    <i class="far fa-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'shoe_detail' shoe.id %}"
                                class="btn btn-primary btn-shoe-detail text-sm-small me-1">View</a>
                            <a href="#" class="btn btn-primary btn-shoe-detail text-sm-small ms-1">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>no shoes to show!</p>
        {% endif %}
    </div>
</div>
{% endblock %}