{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">
        {% if refined_search %}
        {{ shoes|length }} products found
        {% else %}
        {{ header }}
        {% endif %}
    </h2>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'includes/refine_search_options.html' %}
    <!-- grid of shoe products: 2xw phone, 3xw tablet, 4xw desktop -->
    <div class="row my-4">
        {% if shoes%}
        {% for shoe in shoes %}
        <div class="col-6 col-md-4 col-lg-3 py-1">
            <div class="d-flex justify-content-center">
                <div class="card my-1 rounded-0">
                    <img class="card-img-top rounded-0" src="{{ MEDIA_URL }}{{ shoe.image }}" alt="{{ shoe.name }}">
                    <div class="card-body p-1">
                        <h5 class="text-center card-title header-sm-small">{{ shoe.name }}</h5>
                        <ul class="list-group list-group-flush text-sm-small">
                            <li class="list-group-item py-1"> <strong>Price:</strong> &euro; {{ shoe.price }}</li>
                            <li class="list-group-item py-1"> <strong>Brand:</strong>
                                {{ shoe.brand.friendly_name|title }}</li>
                            <li class="list-group-item py-1"> <strong>Category:</strong> {{ shoe.category|title }}</li>
                            <li class="text-center list-group-item py-1">
                                <strong>Rating </strong><span>({{shoe.count_reviews}})</span><br>
                                <div class="d-flex justify-content-center align-items-center box-ratings">
                                    {% if shoe.avg_rating >= 0 %}
                                    {% for star in 5|range %}
                                    {% if star <= shoe.avg_rating %}
                                    <i class="text-warning fs-6 fas fa-star"></i>
                                    {% else %}
                                    <i class="text-muted fs-6 far fa-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <p class="m-0">No reviews yet.</p>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'shoe_detail' shoe.id %}"
                                class="btn btn-primary btn-shoe-detail text-sm-small me-1">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No Shoes Available!</p>
        <div class="d-flex justify-content-center mb-2">
            <a class="btn btn-primary" href="{% url 'shoes' %}" role="button">Browse All <i
                    class="fas fa-shopping-basket"></i></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    let currentUrl = new URL(window.location);
    $('#refine-search-btn').on("click", function () {
        // filter handler
        // get filters
        let filtCategory = $('#filt-category').val();
        let filtBrand = $('#filt-brand').val();
        // get chosen filter options
        let optCategory = filtCategory.split('_')[2];
        let optBrand = filtBrand.split('_')[2];
        // add them to the url
        currentUrl.searchParams.set('filter_category', optCategory);
        currentUrl.searchParams.set('filter_brand', optBrand);

        // sort handler
        // get sorts
        let sortRating = $('#sort-rating').val();
        let sortPrice = $('#sort-price').val();
        // get chosen sort options
        let optRating = sortRating.split('_')[2];
        let optPrice = sortPrice.split('_')[2];
        // add them to the url
        currentUrl.searchParams.set('sort_rating', optRating);
        currentUrl.searchParams.set('sort_price', optPrice);


        window.location.replace(currentUrl);
    })
</script>

{% endblock %}