{% extends 'base.html' %}
{% load static %}
{% load range %}

{% block page_header %}
<div class="container">
    <h2 class="mt-2 text-center">{{ shoe.name }}</h2>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- image -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img src="{{ MEDIA_URL }}/{{ shoe.image }}" class="img-fluid w-75 mb-3" alt="{{ shoe.name }}">
        </div>
        <!-- product details -->
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-5 black-outline bg-light">
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">&euro; {{ shoe.price }}</li>
                        <li class="list-group-item">{{ shoe.brand|title }}</li>
                        <li class="list-group-item">{{ shoe.category|title }}</li>
                    </ul>
                    <form action="{% url 'add_to_cart' shoe.id %}" class="d-flex flex-column" method="POST">
                        {% csrf_token %}
                        <select class="form-select mb-2" name="shoe_size" aria-label="Choose shoe size">
                            <option selected>Size</option>
                            <option value="2">2</option>
                            <option value="2.5">2 &frac12;</option>
                            <option value="3">3</option>
                            <option value="3.5">3 &frac12;</option>
                            <option value="4">4</option>
                            <option value="4.5">4 &frac12;</option>
                            <option value="5">5</option>
                            <option value="5.5">5 &frac12;</option>
                            <option value="6">6</option>
                            <option value="6.5">6 &frac12;</option>
                            <option value="7">7</option>
                            <option value="7.5">7 &frac12;</option>
                            <option value="8">8</option>
                            <option value="8.5">8 &frac12;</option>
                            <option value="9">9</option>
                            <option value="9.5">9 &frac12;</option>
                            <option value="10">10</option>
                            <option value="10.5">10 &frac12;</option>
                            <option value="11">11</option>
                            <option value="11.5">11 &frac12;</option>
                            <option value="12">12</option>
                            <option value="12.5">12 &frac12;</option>
                        </select>
                        <button type="submit" class="btn btn-primary mb-2">Add to Cart</button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
                <div class="col-7 black-outline bg-light">
                    <p>{{ shoe.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- Ratings -->
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex">
                <strong class="mb-2">Rating</strong>
                <span>({{shoe.count_reviews}})</span>
            </div>
            <div class="d-flex mb-2">
                {% if shoe.avg_rating >= 0 %}
                {% comment %} If there is an average rating for this shoe {% endcomment %}
                {% for star in 5|range %}
                {% if star <= shoe.avg_rating %}
                <i class="text-warning fs-4 fas fa-star"></i>
                {% else %}
                <i class="text-muted fs-4 far fa-star"></i>
                {% endif %}
                {% endfor %}
                {% else %}
                {% comment %} if the shoe has no reviews yet {% endcomment %}
                <p>No reviews yet.</p>
                {% endif %}
            </div>
            <div class="d-flex mb-2">
                <a class="btn btn-primary me-1" href="{% url 'view_reviews' shoe.id %}" role="button">View Reviews</a>
                <a class="btn btn-primary ms-1 " href="{% url 'write_review' shoe.id %}" role="button">Write
                    Review</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}